{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * UptimeRobot plugin for Craft CMS
 *
 * UptimeRobot Widget error Body
 *
 * @author    La Haute Société
 * @copyright Copyright (c) 2018 La Haute Société
 * @link      https://www.lahautesociete.com
 * @package   UptimeRobot
 * @since     1.0.0
 */
#}

<div class="error"><span data-icon="alert"> {{ 'An error occured while trying to connect to Uptime Robot API: {message}'|t('uptime-robot', { message: message }) }}</span></div>


